include ./mixins.pug

<!DOCTYPE html>
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    meta(http-equiv="X-UA-Compatible", content="ie=edge")
    title Portfolio | main page
  body
    .wrapper
      .bg-rock-fest
        section.welcome-section
          .container.welcome-section__container
            header.welcome-section__header
              .welcome-section__logo
                .logo ЗИ
              .welcome-section__menu  
                nav.nav
                  ul.nav__list
                    each navItem in ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                      li.nav__item
                        a(href="#").nav__link= navItem
              .welcome-section__link          
                .socials
                  ul.socials__list
                    each socialsItem in ["insta", "vk", "github"]
                      li.socials__item
                        a(class=`socials__link` href='#')
                          +icon(`${socialsItem}`, 'socials__icon')
            .welcome-section__text
              .user-info
                .user-info__desc Личный сайт<br> веб-разработчика
                .user-info__name Захаркин<br>Иван
            .welcome-section__scroll    
              button.scroll 
                .scroll__text Скролл
                .scroll__icon
                  +icon(`scroll`, 'scroll__pic')

        section.about-me
          .about-me__container.container
            .about-me__left
              .user
                .avatar.user__avatar
                  +image('content/avatar.jpg', 'avatar__img')
                .user__brief-info
                  - 
                    var data = [
                      ['Проживаю:', 'Тула'],
                      ['Возраст:', '23'],
                      ['Родился:', '29 апреля 1996'],
                    ]
                  ul.user__data
                    each item in data 
                      li.user__data-row
                        .user__data-desc= item[0]
                        .user__data-content= item[1]

            .about-me__right
              .about-me__welcome-text Привет, меня зовут
              .about-me__name Захаркин Иван
              .about-me__text Я занимаюсь разработкой современных сайтов и приложений. Мне нравится делать интересные и современные проекты.
              .about-me__ps Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!
              

      


      section.skills-section
        .triangles
          svg.triangles__item(viewBox="0 0 1000 100" preserveAspectRatio="none")
            polygon(points="0,0 769,83 1000,0")
        .container.skills-section__container
          h2.skills-section__title Чем я могу быть полезен вам
          p.skills-section__text Этот сайт я сделал в рамках обучения в Школе онлайн образования LoftSchool. Чуть позже я освежу в нём свой контент. А пока посмотрите, как тут всё классно и красиво!   
          ul.skills-section__list.skills
            li.skills__item.skills-row
              .skills-row__title Front-end
              ul.skills-row__list
                each frontSkill in ["HTML5", "CSS3", "Javascript", "Jquery и Vue.js"]
                  li.skills-row__item
                    .skill
                      svg.skill__progress-bar(viewBox="0 0 200 200" preserveAspectRatio="none")
                        circle.skill__circle(r="88" cx="100" cy="100" )
                        circle.skill__progress-circle(r="88" cx="100" cy="100")
                      .skill__text= frontSkill
            li.skills__item.skills-row
              .skills-row__title Workflow
              ul.skills-row__list
                each workSkill in ["GIT", "terminal", "gulp", "Webpack"]
                  li.skills-row__item
                    .skill
                      svg.skill__progress-bar(viewBox="0 0 200 200" preserveAspectRatio="none")
                        circle.skill__circle(r="88" cx="100" cy="100" )
                        circle.skill__progress-circle(r="88" cx="100" cy="100")
                      .skill__text= workSkill
        
          
      section.projects
        .container
          h2.projects__title Мои работы
          .projects__content
            .slider
              .slider__display
                +image("works-preview/1.jpg", "slider__display-pic")
                .slider__display-preview
                  ul.slider-preview
                    each item in ["1", "2", "3", "4", "5"]
                      li.slider-preview__item
                        a.slider-preview__link(href="#")
                           +image(`works-preview/${item}.jpg`, "slider__preview-pic")
              .slider__center
                .slider__number 2         
                .slider__buttons
                  button.btn-arrow.btn-arrow_left.btn-arrow_project
                   +icon('short-arrow', 'btn-arrow__pic')
                  button.btn-arrow.btn-arrow_right.btn-arrow_project
                    +icon('short-arrow', 'btn-arrow__pic')
              .slider__info
                .slider__tags
                  ul.tags 
                    each item in ["html", "css", "javascript"]
                      li.tags__item= item
                .slider__info-desc
                  h4.slider__info-title Сайт школы образования
                  .slider__info-text  Lorem ipsum, dolor sit amet consectetur adipisicing elit. Nisi officia id iusto provident repellendus explicabo facilis accusantium voluptatibus, porro sint asperiores quibusdam dolorem in sit magnam praesentium illum saepe aliquid.
                .slider__info-btns
                  a.iconed-link Посмотреть сайт      

                       



      .bg-rock-musican
        section.reviews
          .container
            .reviews__top
              h2.reviews__title Что обо мне говорят
              .reviews__btn
                button.btn-arrow.btn-arrow_left
                  +icon('short-arrow', 'btn-arrow__pic')
                button.btn-arrow.btn-arrow_right
                  +icon('short-arrow', 'btn-arrow__pic')
            .reviews__content   
              .reviews__slider
                ul.reviews__list
                  - 
                    var reviews = [
                      {
                        avatar: "kovalchuk.jpg",
                        name: "Ковальчук Дмитрий",
                        job: "Основатель LoftSchool",
                        text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. In corrupti saepe aut, non nostrum labore quasi nihil, totam, tenetur suscipit consequuntur aspernatur beatae expedita voluptatibus natus placeat? Molestiae, veniam. Cum."
                      },
                      {
                        avatar: "sabancev.jpg",
                        name: "Владимир Сабанцев",
                        job: "Преподаватель",
                        text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. In corrupti saepe aut, non nostrum labore quasi nihil, totam, tenetur suscipit consequuntur aspernatur beatae expedita voluptatibus natus placeat? Molestiae, veniam. Cum."
                      },
                      {
                        avatar: "kovalchuk.jpg",
                        name: "Ковальчук Дмитрий",
                        job: "Основатель LoftSchool",
                        text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. In corrupti saepe aut, non nostrum labore quasi nihil, totam, tenetur suscipit consequuntur aspernatur beatae expedita voluptatibus natus placeat? Molestiae, veniam. Cum."
                      },
                      {
                        avatar: "kovalchuk.jpg",
                        name: "Ковальчук Дмитрий",
                        job: "Основатель LoftSchool",
                        text: "Lorem ipsum dolor sit amet consectetur, adipisicing elit. In corrupti saepe aut, non nostrum labore quasi nihil, totam, tenetur suscipit consequuntur aspernatur beatae expedita voluptatibus natus placeat? Molestiae, veniam. Cum."
                      },
                      
                    ]
                  each reviewsItem in reviews
                    li.review.reviews__item
                      .review__text= reviewsItem.text
                      .review__author
                        .avatar.review__avatar
                          +image(`content/${reviewsItem.avatar}`, "avatar__img")
                        .review__desc
                          .review__name= reviewsItem.name
                          .review__job= reviewsItem.job
              
        section.contact
          .container
            .contact__title Связаться со мной
            form.form(action="post")
              .form__col
                .form__row
                  label.form__block
                    +icon(`user`, 'form__icon')
                    .form__block-title Введите ваше имя
                    input(class=`form__input` type= "name" name= "name" placeholder="Иванов Иван" require)
                  label.form__block
                    +icon(`pencil`, 'form__icon')
                    .form__block-title Введите ваш email
                    input(class=`form__input` type= "email" name= "email" placeholder="ivanov@mail.ru" require)

                .form__row
                  label.form__block
                    +icon(`message`, 'form__icon')
                    .form__block-title Сообщение к письму
                    textarea(class=`form__input form__input_textarea` name= "message" placeholder="Текст сообщения" require)  
                .form__row  
                  input.form__btn-send(type="submit" value="Отправить" name="btn-send")
      footer.footer
        .container.footer__container
          .footer__copyright
            .footer__copyright-date @ 2019
            .footer__user
              .user-info.user-info_footer
                .user-info__desc Личный сайт<br> веб-разработчика
                .user-info__name Захаркин<br>Иван
          .footer__content
            .footer__nav
                nav.nav
                ul.nav__list
                  each navItem in ["Главная", "Обо мне", "Навыки", "Работы", "Отзывы", "Связаться"]
                    li.nav__item
                      a(href="#").nav__link= navItem
            .footer__text
              .footer__socials
                .footer__socials-text Это сайт сделан в рамках обучения в онлайн школе LoftSchool
                .footer__socials-link
                  .socials
                    ul.socials__list
                      each socialsItem in ["insta", "vk", "github"]
                        li.socials__item.socials__item_footer
                          a(class=`socials__link` href='#')
                            +icon(`${socialsItem}`, 'socials__icon')
              blockquote.footer__blockquote.blockquote
                .blockquote__text Всегда пишите код так, как будто сопровождать его будет склонный к насилию психопат, который знает, где вы живёте
                .blockquote__author Martini Golding